<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="css/helloWord.css" rel="stylesheet" type="text/css" >
  <title>hello word</title>
</head>
  <body>
  <a href="http://localhost:8080/mobileHall/user/identifiyNum?cacheKey=2222" target="_blank">hello word</a>
  <form accept-charset="utf-8" action="http://localhost:8080/mobileHall/user/identifiyNum?cacheKey=2222" method="post">
    <input type="" class="test" value="activationState" length="10" size="10"><span>确认</span>
    <input type="button" value="获取验证码"/>
    <input type="file" accept="video/*;capture=camcorder"> 录制视频
    <div>选取相册<input type="file" accept="image/*,camera" capture="camera" /><div>
  </form>

  <div> <span>视频1</span><video src="" autoplay="" width="320" height="240"  controls="controls"></div>
  <div><span>视频2</span>  <audio width="320" height="240"  controls="controls" src=""><div><div><div>


  </body>
</html>
