<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="css/helloWord.css" rel="stylesheet" type="text/css" >
  <title>video</title>
</head>
  <body>
  <form accept-charset="utf-8" action="http://localhost:8080/mobileHall/user/identifiyNum?cacheKey=2222" method="post">
    <input type="file" accept="video/*;capture=camcorder" src=" http://192.168.221.107:8080/RTCApp/room?r=1456732651631"> 录制视频
      <div> <span>视频1</span><video src="http://192.168.221.107:8080/RTCApp/room?r=1456732651631" autoplay="" width="320" height="240"  controls="controls"></div>
  </form>
  </body>
</html>
